# Python-specific
__pycache__/
*.py[cod]
.venv/
venv/
env/

# OMDB API key (environment variables)
.env

# IDE-specific files
.idea/
.vscode/
*.sublime-workspace

# OS-specific files
.DS_Store          # macOS
Thumbs.db           # Windows
